#fight {
  display: none;
}

#fight img {
  max-width: 300px;
  border-radius: 30%;
}


.story {
  display: none;
  margin-top: 30px;
}

#ordering {
  margin-top: 30px;
}

.receipt {
  display: none;
  margin-top: 30px;
  
}
